SECRET_KEY=your_secret_key_here

# use a secure, randomly generated key in production. You can generate one in the terminal using Python:
# python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
